@keyframes rodar {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.foto {
    animation-name: rodar;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    width: 250px;
    height: 250px;
    margin: 2em;
}

.Pessoa {
    margin-bottom: 10em;
    margin-top: 10em;
}